@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, h4, h5 {
    font-family: 'Smythe', cursive;
    color: #353333;
}

.showItem {
    display: none;
}

#remove-btn {
    font-size: 4px;
}